.modal.fade{id: "js-modal-#{kind}", role: 'dialog'}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{data: {dismiss: 'modal'}, aria: {label: '閉じる'}}
          %span{aria: {hidden: 'true'}} &times;
        移動（コピー）先を選択して下さい
      .modal-body
        .alert.alert-danger.hide{data: {id: 'modal-alert-danger'}}
        = render 'tree'
      .modal-footer
        %ul.list-inline
          - if kind == 'directory'
            %li
              = link_to 'Move', '#', class: 'btn btn-danger', data: {role: 'post-btn', url: move_directory_path}
            %li
              = link_to 'Copy', '#', class: 'btn btn-primary', data: {role: 'post-btn', url: copy_directory_path}
          - if kind == 'file'
            %li
              = link_to 'Move', '#', class: 'btn btn-danger', data: {role: 'post-btn', url: move_fileitem_path}
            %li
              = link_to 'Copy', '#', class: 'btn btn-primary', data: {role: 'post-btn', url: copy_fileitem_path}
