= render 'modal', kind: 'directory'
= render 'modal', kind: 'file'

%table.table.table-responsive
  %tr
    %th
      名前
    %th
      共有
    %th
      公開
    %th
  - @directory.children.each do |dir|
    %tr
      %td
        %span.glyphicon.glyphicon-folder-open
          %strong= link_to dir.name, [dir]
      %td
        - if dir.shared_directories.present?
          %span.glyphicon.glyphicon-ok
      %td
        - if dir.publicate_directories.present?
          %span.glyphicon.glyphicon-ok
      %td
        .text-right
          %ul.list-inline
            %li
              = link_to '名前を変更', [:edit, dir]
            %li
              = link_to '移動', '#', {data: {id: dir.id, toggle: 'modal', target: '#js-modal-directory', role: 'modal-launcher'}}
            %li
              = link_to '複製', '#', {data: {id: dir.id, toggle: 'modal', target: '#js-modal-directory', role: 'modal-launcher'}}
            %li
              = link_to '削除', [dir], class: 'label label-danger', method: :delete, data: {confirm: '削除しますか ?'}
            %li
              = link_to '共有設定', [:my, dir, :shared_directories], class: 'label label-primary'
            %li
              = link_to '公開リンク送信', [:my, dir, :publicate_directories], class: 'label label-success'
  - @directory.files.each do |file|
    %tr
      %td
        %span.glyphicon.glyphicon-file
          %strong= link_to file.name, [file.directory, file]
      %td
        - if file.shared_files.present?
          %span.glyphicon.glyphicon-ok
      %td
        - if file.publicate_files.present?
          %span.glyphicon.glyphicon-ok
      %td
        .text-right
          %ul.list-inline
            %li
              = link_to '名前を変更', [:edit, file.directory, file]
            %li
              = link_to '移動', '#', {data: {id: file.id, toggle: 'modal', target: '#js-modal-file', role: 'modal-launcher'}}
            %li
              = link_to '複製', '#', {data: {id: file.id, toggle: 'modal', target: '#js-modal-file', role: 'modal-launcher'}}
            %li
              = link_to '削除', [file.directory, file], class: 'label label-danger', method: :delete, data: {confirm: '削除しますか ?'}
            %li
              = link_to '共有設定', [:my, file, :shared_files], class: 'label label-primary'
            %li
              = link_to '公開リンク送信', [:my, file, :publicate_files], class: 'label label-success'
