%h1
  = @directory.name

%h2
  所有者 :
  = @directory.user.email

%hr.invisible

= render 'breadcrumb', root_directory: @root_directory.directory, current_directory: @directory

- if @directory.children.empty? && @directory.files.empty?
  .text-muted
    データが存在しません
- else
  %table.table.table-responsive
    - @directory.children.each do |child_directory|
      %tr
        %td
          %span.glyphicon.glyphicon-folder-open
            = link_to child_directory.name,
              shared_directory_shared_sub_directory_path(child_directory, shared_directory_id: @root_directory)
    - @directory.files.each do |file|
      %tr
        %td
          %span.glyphicon.glyphicon-file
            = link_to file.name, shared_directory_shared_sub_directory_shared_file_path(file, shared_directory_id: @root_directory.id, shared_sub_directory_id: @directory.id)
